html,body{
    margin: 0;
}

/* Pour ce header

<header id="menu">
<a href="../modele" id="nom_site" >Matériel.com</a>  <!-- id="nom_site" -->
<div id="ins_conn">
    <a href="../controle/inscription.php"  id="inscription"  >Inscription</a> <!--  id="inscription" -->
    <a href="../controle/connexion.php" id="connexion"  >Connexion</a>  <!--id="connexion" -->
</div>
</header> */

#menu a{
   color: #3eaeff;
   text-decoration: none;
   font-weight: bold;
   font-size: 20px;
   
}

#inscription:hover,#connexion:hover{
    text-decoration: underline solid;
    font-weight: bold;   
    color: #3eaeff;  
}



#menu{
    background-color: black;
    padding-bottom: 1%;
    border-color: #3eaeff;
    border-bottom-style: solid;
}

#ins_conn,#connexion{
    display: inline-block;   
}

#ins_conn{
    margin-left: 65%;
}

#connexion{
    margin-left: 3em;
}

/* Pour les inter-centre avec les images qui défilent
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            
            <div class="carousel-inner" id="images_defilantes" >
                <div class="carousel-item active" id="images_defilantes_1">
                    <h1 id="titre" >Bienvenue sur notre nouvelle plateforme d'emprunt</h1>
                    <p id="sous_titre">Ici tu peux emprunter jusqu'à 10 objets de la catégorie informatique et électronique !</p>
                </div>
                <div class="carousel-item" id="images_defilantes_2">
                    <h1 id="titre">Bienvenue sur notre nouvelle plateforme d'emprunt</h1>
                    <p id="sous_titre">Ici tu peux emprunter jusqu'à 10 objets de la catégorie informatique et électronique !</p>
                </div>
                <div class="carousel-item" id="images_defilantes_3">
                    <h1 id="titre">Bienvenue sur notre nouvelle plateforme d'emprunt</h1>
                    <p id="sous_titre">Ici tu peux emprunter jusqu'à 10 objets de la catégorie informatique et électronique !</p>
                </div>
                <div class="carousel-item" id="images_defilantes_4">
                    <h1 id="titre">Bienvenue sur notre nouvelle plateforme d'emprunt</h1>
                    <p id="sous_titre">Ici tu peux emprunter jusqu'à 10 objets de la catégorie informatique et électronique !</p>
                </div>
            </div>
    </div>
*/


#images_defilantes_1{
    background-image: url("pexels-markus-spiske-2004161.jpg");
    
}
#images_defilantes_2{
    background-image: url("code-coding.gif");
   /* background: url("video_électronique.mp4"); */
}

#images_defilantes_3{
    background-image: url("pexels-pixabay-270404.jpg");
   
}

#images_defilantes_4{
    background-image: url("circuit_imprimé.gif");
    /* background: url("video_informatique.mp4"); */
   
}
#images_defilantes_1,#images_defilantes_2,#images_defilantes_3,#images_defilantes_4{
    padding-bottom: 20%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: initial;
}

#titre,#sous_titre{
    color: white;
}

/* #Matos1{
    width: auto;
} */

/*  Partie CSS pour le formulaire d'envoi du message

<form id="formulaire_message" name="formulaire_message" action=""  method="POST" class="container-fluid">
    <p id="pres_form" class="row">N'hésite surtout pas à nous envoyer un petit message ;)</p>
    <input type="text" id="nom" name="nom" placeholder="Nom/Name" class="row">
    <input type="email" id="adresse_mail" name="adresse_mail" placeholder="Mail" class="row">
    <textarea id="message" placeholder="Votre message/Your message" class="row"></textarea>
    <input type="submit"  id="envoyer" name="envoyer"  placeholder="Envoyer le message"class="row">
</form> */

#nom,#adresse_mail,#message{
    margin-bottom: 10px;
}

#envoyer{
    background-color: black;
    color: white ;
    font-weight: bold;
    border: none;

    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#envoyer:hover{
    -webkit-transform: scale(1.05);
	transform: scale(1.05);
}

/* Partie CSS pour le footer 
    <footer>
            <p id="phrase_footer" >  Technologies utilisées</p>
            <p id="logos_technos"> 
                <i class="fa fa-html5"></i> 
                <i class="fa fa-css3"></i> 
                <i class="fab fa-bootstrap"></i>  
                <i class="fa fa-github"></i> 
                <i class="fa-brands fa-js"></i> 
                <i class="fa-brands fa-php"></i> 
                <i class="fa-solid fa-database"></i>
                <i class="fab fa-trello"></i>
                <i class="fab fa-aws"></i>
            </p>
            
    </footer>
*/
footer{
    position:  static;
    margin-top: 17%;
    text-align: center;
    font-weight: bold;
    border-color: black;
    border-top-style: solid;
    
}

#logos_technos a{
    text-decoration: none;
    color: black;
}
