/*Tous les fichiers web !*/

html,body{
    margin: 0;
}


/* FICHIER index.html */

/* Pour ce header

<header id="menu">
<a href="../modele" id="nom_site" >Matériel.com</a>  <!-- id="nom_site" -->
<div id="ins_conn">
    <a href="../controle/inscription.php"  id="inscription"  >Inscription</a> <!--  id="inscription" -->
    <a href="../controle/connexion.php" id="connexion"  >Connexion</a>  <!--id="connexion" -->
</div>
</header> */

#menu #ins_conn a, #nom_site{
   color: #3eaeff;
   text-decoration: none;
   font-weight: bold;
   
   
}
#nom_site{
    font-family: 'Azonix';
    font-size: 25px;
}

#menu #ins_conn a{
    font-size: 20px;
}   



/* #inscription:hover,#connexion:hover{
    text-decoration: underline solid;
    font-weight: bold;   
    color: #3eaeff;  
} */

#menu #ins_conn a:hover{
    text-decoration: underline solid;
    font-weight: bold;   
    color: #3eaeff;  
    /* transition:  3s ease-in-out; */
}



#menu{
    /* background-color: black ; */
    
    padding-bottom: 1%;
    border-color: #3eaeff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    
}

#ins_conn,#connexion{
    display: inline-block;   
}

#ins_conn{
    margin-left: 60%;
}

#connexion{
    margin-left: 3em;
}

#derouleur{
    display: none;
}


/* <div id="presentation_technos">
    <div class="text-start">
        <h3>Front-end !</h3>
        <img src="../vue/html-css-js.jpg" class="img-fluid" id="front">
    </div>   

    <div class="text-end">
        <h3>Back-end !</h3>
        <img src="../vue/backend.png" class="img-fluid" id="back">
        
    </div>

    <div class="text-start">
        <h3> Outils de gestion de projet ! </h3>
        <img src="../vue/gestion_projet.png" class="img-fluid" id="gestion">
        
    </div>
</div> */

#front,#back,#gestion{
    width: 60%;
    height: 60%;
}


/* Pour les inter-centre avec les images qui défilent
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            
            <div class="carousel-inner" id="images_defilantes" >
                <div class="carousel-item active" id="images_defilantes_1">
                    <h1 id="titre" >Bienvenue sur notre nouvelle plateforme d'emprunt</h1>
                    <p id="sous_titre">Ici tu peux emprunter jusqu'à 10 objets de la catégorie informatique et électronique !</p>
                </div>
                <div class="carousel-item" id="images_defilantes_2">
                    <h1 id="titre">Bienvenue sur notre nouvelle plateforme d'emprunt</h1>
                    <p id="sous_titre">Ici tu peux emprunter jusqu'à 10 objets de la catégorie informatique et électronique !</p>
                </div>
                <div class="carousel-item" id="images_defilantes_3">
                    <h1 id="titre">Bienvenue sur notre nouvelle plateforme d'emprunt</h1>
                    <p id="sous_titre">Ici tu peux emprunter jusqu'à 10 objets de la catégorie informatique et électronique !</p>
                </div>
                <div class="carousel-item" id="images_defilantes_4">
                    <h1 id="titre">Bienvenue sur notre nouvelle plateforme d'emprunt</h1>
                    <p id="sous_titre">Ici tu peux emprunter jusqu'à 10 objets de la catégorie informatique et électronique !</p>
                </div>
            </div>
    </div>
*/


#images_defilantes_1{
    background-image: url("pexels-markus-spiske-2004161.jpg");
    
}
#images_defilantes_2{
    background-image: url("code-coding.gif");
   /* background: url("video_électronique.mp4"); */
   background-position: right 35% bottom 45%;
}

#images_defilantes_3{
    background-image: url("pexels-pixabay-270404.jpg");
   
}

#images_defilantes_4{
    background-image: url("circuit_imprimé.gif");
    /* background: url("video_informatique.mp4"); */
    
}
#images_defilantes_1,#images_defilantes_2,#images_defilantes_3,#images_defilantes_4{
    padding-bottom: 20%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: initial;
}

#titre,#sous_titre{
    color: white;
}

/* #Matos1{
    width: auto;
} */

/*  Partie CSS pour le formulaire d'envoi du message

<form id="formulaire_message" name="formulaire_message" action=""  method="POST" class="container-fluid">
    <p id="pres_form" class="row">N'hésite surtout pas à nous envoyer un petit message ;)</p>
    <input type="text" id="nom" name="nom" placeholder="Nom/Name" class="row">
    <input type="email" id="adresse_mail" name="adresse_mail" placeholder="Mail" class="row">
    <textarea id="message" placeholder="Votre message/Your message" class="row"></textarea>
    <input type="submit"  id="envoyer" name="envoyer"  placeholder="Envoyer le message"class="row">
</form> */

#nom,#adresse_mail,#message{
    margin-bottom: 10px;
}

#envoyer,#login,#signin,#rechercher{ /*,#btn_connexion*/
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    width: 20%;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#envoyer:hover,#login:hover,#signin:hover{ /*,#btn_connexion:hover*/
    -webkit-transform: scale(1.05);
	transform: scale(1.05);
}

/* Partie CSS pour le footer 
    <footer>
            <p id="phrase_footer" >  Technologies utilisées</p>
            <p id="logos_technos"> 
                <i class="fa fa-html5"></i> 
                <i class="fa fa-css3"></i> 
                <i class="fab fa-bootstrap"></i>  
                <i class="fa fa-github"></i> 
                <i class="fa-brands fa-js"></i> 
                <i class="fa-brands fa-php"></i> 
                <i class="fa-solid fa-database"></i>
                <i class="fab fa-trello"></i>
                <i class="fab fa-aws"></i>
            </p>
            
    </footer>
*/
footer{
    position:  static;
    margin-top: 17%;
    text-align: center;
    font-weight: bold;
    border-color: black;
    border-top-style: solid;
    border-top-width: 1px;
}

#logos_technos a{
    text-decoration: none;
    color: black;
}

/* RESPONSIVITE */

@media screen and (max-width:1474px) and (min-width:1314px){
    #ins_conn{ /*index.html */
        margin-left: 55%;
    }   
}

@media screen and (max-width:1314px) and (min-width:1195px){
    #ins_conn{ /*index.html */
        margin-left: 50%;
    }   
}

@media screen and (max-width:1195px) and (min-width:1079px) {
    #ins_conn{ /*index.html */
        margin-left: 45%;
    }
}

@media screen and  (max-width:1079px)  and (min-width:990px){
    #ins_conn{ /*index.html */
        margin-left: 40%;
    }
}

@media screen and  (max-width:990px) and (min-width:915px) {
    #ins_conn{ /*index.html */
        margin-left: 35%;
    }

    #envoyer /*index.html */,#signin /*inscription.html */,#login  /*connexion.html*/{
        width: auto;
    }

}

@media screen and  (max-width:915px)  and (min-width:851px){
    #ins_conn{ /*index.html */
        margin-left: 30%;
    }

    #envoyer /*index.html */,#signin /*inscription.html */,#login  /*connexion.html*/{
        width: auto;
    }


}
@media screen and (max-width:851px){
    #ins_conn{ /*index.html */
        display: none;
    }
    #derouleur{ /*index.html */
        display: inline-block;
        font-size: 20px;
    }
    #envoyer /*index.html */,#signin /*inscription.html */,#login  /*connexion.html*/{
        width: auto;
    }
}

@media screen and (max-width:851px) and (min-width:775px){
    #derouleur{ /*index.html */
        margin-left: 55%;
    }
    #envoyer /*index.html */,#signin /*inscription.html */,#login  /*connexion.html*/{
        width: auto;
    }
}

@media screen and (max-width:775px) and (min-width:696px){
    #derouleur{ /*index.html */
        margin-left: 50%;
    }
    #envoyer /*index.html */,#signin /*inscription.html */,#login  /*connexion.html*/{
        width: auto;
    }
}

@media screen and (max-width:696px) and (min-width:624px){
    #derouleur{/*index.html */
        margin-left: 45%;
    }
    #envoyer /*index.html */,#signin /*inscription.html */,#login  /*connexion.html*/{
        width: auto;
    }
}

@media screen and (max-width:624px) and (min-width:576px){
    #derouleur{ /*index.html */
        margin-left: 40%;
    }
    #envoyer /*index.html */,#signin /*inscription.html */,#login  /*connexion.html*/{
        width: auto;
    }
}

@media screen and (max-width:576px) and (min-width:536px) {
    #derouleur{/*index.html */
        margin-left: 35%;
    }
    #envoyer /*index.html */,#signin /*inscription.html */,#login  /*connexion.html*/{
        width: auto;
    }
}

@media screen and (max-width:536px) and (min-width:496px) {
    #derouleur{ /*index.html */
        margin-left: 30%;
    }
    #envoyer /*index.html */ ,#signin /*inscription.html */,#login  /*connexion.html*/{
        width: auto;
    }
}

@media screen and (max-width:496px) and (min-width:465px) {
    #derouleur{ /*index.html */
        margin-left: 25%;
       
    }
    #envoyer /*index.html */ ,#signin /*inscription.html */,#login  /*connexion.html*/{
        width: auto;
    }

    #presentation p,#presentation_technos p{ /*index.html */
        font-size: 10px;
    }

    footer p{ /*index.html */
        font-size: 15px;
    }
}

/*ULTRA RESPONSIVE*/

@media screen and (max-width:465px) and (min-width:240px){
    #derouleur{ /*index.html */
        margin-left: 40%;
    }

    #nom_site{ /*index.html */
        font-size: 20px;
    }
    #envoyer{ /*index.html */
        width: auto;
        font-size: 15px;
    }
    #signin /*inscription.html */,#login  /*connexion.html*/{
        width: auto;
        font-size: 10px;
    }
    #formulaire_message label /*index.html*/, #formulaire_inscription label /*inscription.html */{ 
        font-size: 12px;
    }
    #statut_1{/*inscription.html*/
        margin-left: 0%;
    }

    #presentation p,#presentation_technos p{ /*index.html */
        font-size: 10px;
    }
    footer p{ /*Toutes les pages HTMLs*/
        font-size: 15px;
    }
}

@media screen and (max-width:310px){
    #derouleur{  /*index.html */
        margin-left: 15%;
    }

    #radio_button_inscription input[type=radio],#radio_button_inscription label{ /*inscription.html */
        display: none;
    }

    #formulaire_message label /*index.html */ , #formulaire_inscription label /*inscription.html */{
        font-size: 10px;
        margin-top: -9px;
    }
    #derouleur_statut{/*inscription.html */
        display: inline-block;
        margin-bottom: 3%;
        
    }    

}
@media screen and (min-width:310px){ 
    #derouleur_statut{ /*inscription.html */
        display: none;
    }
}


@media screen and (max-width:240px) and (min-width:194px){
    #derouleur{ /*index.html */
        margin-left: 10%;
    }
    #nom_site{ /*index.html */
        font-size: 15px;
    }
    #envoyer{ /*index.html */
        width: auto;
        font-size: 10px;
    }
    #signin /*inscription.html */,#login  /*connexion.html*/{
        width: auto;
        font-size: 10px;
    }

    #formulaire_message label /*index.html */ , #formulaire_inscription label /*inscription.html */{
        font-size: 10px;
        margin-top: -9px;
    }

    #presentation p,#presentation_technos p{ /*index.html */
        font-size: 10px;
    }

    footer p{ /*index.html */   /*inscription.html */ /*connexion.html*/
        font-size: 10px;
    }
}


@media screen and (max-width:194px) and (min-width:188px){
    #derouleur{ /*index.html */
        margin-left: 10%;
        font-size: 11px;
    }
    #nom_site{ /*index.html */
        font-size: 10px;
    }
    #envoyer{ /*index.html */
        width: auto;
        font-size: 10px;
    }
    #signin /*inscription.html */,#login /*connexion.html*/{
        width: auto;
        font-size: 10px;
    }

    #presentation p,#presentation_technos p{ /*index.html */
        font-size: 10px;
    }

    footer p{ /*index.html */ /*inscription.html */ /*connexion.html*/
        font-size: 10px;
    }
}


@media screen and  (max-width:188px) and (min-width:160px){
    #derouleur{ /*index.html */
        margin-left: 10%;
        font-size: 11px;
    }
    #nom_site{ /*index.html */
        font-size: 10px;
    }
    #envoyer{ /*index.html */
        width: auto;
        font-size: 10px;
    }
    #signin /*inscription.html */,#login  /*connexion.html*/{
        width: auto;
        font-size: 10px;
    }
    #presentation p,#presentation_technos p{ /*index.html */
        font-size: 7px;
    }
    #formulaire_message label /*index.html */ , #formulaire_inscription label /*inscription.html */{
        font-size: 7px;
        margin-top: -9px;
    }
    #presentation_technos h3{ /*index.html */
        font-size: 15px;
    }
    #formulaire_message #pres_form /*index.html */ ,#question_ins /*inscription.html */{
        font-size: 10px;
    }

    #statut_1,#statut_2{  /*inscription.html */ /*Ce sont les radios buttons du haut du formulaire d'inscription*/
        height: 36%;
        width: 7%;
        
    }

    #radio_button_inscription{
        display: block;

    }
    footer p{ /*index.html */ /*inscription.html */ /*connexion.html*/
        font-size: 10px;
    }
}

@media screen and (max-width:160px) and (min-width:120px){
    #derouleur{ /*index.html */
        margin-left: 10%;
        font-size: 11px;
    }
    
    #nom_site{ /*index.html */
        font-size: 10px;
    }
    #envoyer{ /*index.html */
        width: auto;
        font-size: 10px;
    }
    #signin /*inscription.html */,#login /*connexion.html*/{
        width: auto;
        font-size: 7px;
        
    }



    #presentation p,#presentation_technos p{ /*index.html */
        font-size: 7px;
    }
    #formulaire_message label /*index.html */, #formulaire_inscription label /*inscription.html */{
        font-size: 7px;
        margin-top: -9px;
    }
    #presentation_technos h3{ /*index.html */
        font-size: 15px;
    }
    #formulaire_message #pres_form /*index.html */,#question_ins /*inscription.html */{
        font-size: 7px;
    }
    #formulaire_inscription h1{/*inscription.html */ 
        font-size: 18px;
    }
    #statut_1,#statut_2{  /*inscription.html */ /*Ce sont les radios buttons du haut du formulaire d'inscription*/
        height: 15%;
        width: 7%;
    }
    footer p{ /*index.html */  /*inscription.html */ /*connexion.html*/
        font-size: 7px;
    }
}

@media screen and (max-width:130px) and  (min-width:120px)  {
    #signin {
        /* margin-left: 0px; */
        font-size: 5px;
    }
}

@media screen and  (max-width:120px) and (min-width:95px){
    #derouleur{ /*index.html */
        margin-left: 10%;
        font-size: 11px;
    }
    #nom_site{ /*index.html inscription.html  connexion.html*/
        font-size: 7px;
    }

    #titre{ /*index.html */ 
        font-size: 15px;
    }
    #sous_titre{ /*index.html */ 
        font-size: 12px;
    }
    #envoyer{ /*index.html */
        width: auto;
        font-size: 5px;
    }
    #signin /*inscription.html */,#login /*connexion.html*/{
        width: auto;
        font-size: 4px;
    }
    #presentation h1 /*index.html */, #formulaire_inscription h1 /*inscription.html */{

        font-size: 12px;
    }
    #presentation p,#presentation_technos p{ /*index.html */
        font-size: 5px;
    }
    #formulaire_message label /*index.html */, #formulaire_inscription label /*inscription.html */{
        font-size: 5px;
        margin-top: -8px;
    }
    #presentation_technos h3{  /*index.html */
        font-size: 10px;
    }
    #formulaire_message #pres_form /*index.html */,#question_ins /*inscription.html */{
        font-size: 5px;
    }

    #statut_1,#statut_2{  /*inscription.html */ /*Ce sont les radios buttons du haut du formulaire d'inscription*/
        height: 15%;
        width: 11%;
    }
    footer p{ /* index.html inscription.html connexion.html*/
        font-size: 7px;
    }
}


@media screen and (max-width:95px){
    #derouleur{ /*index.html */
        margin-left: 10%;
        font-size: 11px;
    }
    #nom_site{ /*index.html */
        font-size: 7px;
    }

    #titre{ /*index.html inscription.html */
        font-size: 15px;
    }
    #sous_titre{ /*index.html */
        font-size: 12px;
    }
    #envoyer{ /*index.html */
        width: auto;
        font-size: 3px;
    }
    #signin /*inscription.html*/,#login /*connexion.html*/{ 
        width: auto;
        font-size: 3px;
    }
    #presentation h1 /*index.html */, #formulaire_inscription h1  /*inscription.html*/{

        font-size: 12px;
    }
    #presentation p,#presentation_technos p{ /*index.html */
        font-size: 3px;
    }
    #formulaire_message label /*index.html */, #formulaire_inscription label  /*inscription.html*/{
        font-size: 3px;
        margin-top: -7px;
    }
    #presentation_technos h3{ /*index.html */
        font-size: 7px;
    }
    #formulaire_message #pres_form /*index.html */ ,#question_ins  /*inscription.html*/{
        font-size: 5px;
    }
    
    #statut_1,#statut_2{  /*inscription.html */ /*Ce sont les radios buttons du haut du formulaire d'inscription*/
        height: 15%;
        width: 16%;
    }
    footer p{  /*index.html */ /*inscription.html*/ /*connexion.html*/
        font-size: 5px;
    }
}


/* FICHIER connexion.html, inscription.html, espace_responsable.php et espace_etudiant.php*/

#adresse_mail_CO,#mdp_CO,#nom_INS,#prenom_INS,#adresse_mail_INS,#mdp_INS,#confirmer_mdp_INS, #derouleur_statut, #recherche_materiel{
    width: 60%;
    
}

#statut_1,#statut_2,#adresse_mail_CO,
#mdp_CO,#nom_INS,#prenom_INS,
#adresse_mail_INS,#mdp_INS,#confirmer_mdp_INS,
#login,#signin,#question_ins,
#mdp_oublie, #derouleur_statut,#sans_compte,#rechercher{
    margin-left: 20%;
}

#lien_CO,#mdp_oublie,#sans_compte{
    text-decoration: none;
    color: unset;
}

#radio_button_inscription{
    display: inline;
    margin-bottom: 2%;
    
}

#statut_etudiant,#statut_responsable{
    width: auto;
}

#formulaire_inscription h1,#formulaire_connexion h1{
    text-align: center;
}

#sans_compte{
    display: block;
    margin-top: 1%;
}